</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Blog</title>
</head>

<body>
    <%- include('./partials/navbar') %>
        <div clas="container mt-4">
            <h1>
                <%= blog.title %>
            </h1>
            <img src="<%= blog.coverImage %>" width="200px" />
            <p>
                <%= blog.bodyContent %>
            </p>
        </div>

        <div clas="container mt-4">
            <img src="<%= blog.createdBy.coverImage %>" width="50px" />
            <%= blog.bodyContent.fullName %>
        </div>

        <div class="container mt-3">
            <h1>Comments</h1>
            <% if (locals.user) { %>
                <form action="/blog/comment/<%= blog._id %>" method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="Content" placeholder="Enter your comment.">
                    </div>
        </div>
        <button class="btn btn-sm btn-primary" type="submit">Add</button>
        <% } %>


            <%- include('./partials/script') %>
</body>

</html>